<form action="/api/sessions/login" method="POST">
    <input name='email' type="text" placeholder="email">
    <input name='password'type="text" placeholder="password">
    <button type="submit">Ingresar</button>
    <a href="/register">No tengo cuenta</a>
    <a href="/api/sessions/github">Ingresar con Github</a>
</form>