<form action="/api/session/register" method="POST">
    <input name="firstName" type="text" placeholder="first name">
    <input name="lastName" type="text" placeholder="last name">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="text" placeholder="password">
    <button type="submit">Registrarse</button>
    <a href="/login">ya tengo cuenta</a>
</form>